html[data-theme="dark"] {
  --ifm-background-color: #191d25;
}

.homePage_desc {
  padding: 2rem 9rem 0 9rem;
  font-size: 1.3rem;
  background: var(--bg) !important;
}

.homePage_desc h1 {
  text-align: center;
  padding: 1rem 0;
}

.homePage_desc li {
  padding: 1rem;
}

body {
  color: var(--fg);
  font-weight: 400;
  background-color: var(--bg);
} 

.docPage__5DB, 
.docPage_node_modules-\@docusaurus-theme-classic-lib-theme-DocPage-Layout-styles-module, 
.mainWrapper_node_modules-\@docusaurus-theme-classic-lib-theme-Layout-styles-module {
  background-color: var(--bg);
}

.container{
  background-color: var(--bg);
}

.navbar {
  background: var(--bg) !important;
  box-shadow: var(--navbar_shadow);
  font-weight: 500;
}

aside {
  margin: 5rem;
  padding-top: 1rem;
  background-color: var(--bg);
}

.navbar__logo {
  height: 1.4rem;
  margin: 0 0.2rem 0.4444 0;
}

:root .navbar__title {
  font-size: 1.3rem;
}

.dropdown__menu {
  background-color: #1a2332;
}

.docPage_node_modules-\@docusaurus-theme-classic-lib-next-theme-DocPage-styles-module,
.navbar__inner {
  padding: 0 5rem;
}

.theme-doc-markdown,
.markdown {
  padding: 0 2rem;
}

.menu__list-item-collapsible {
  background: var(--border);
  color: var(--ifm-color-primary);
  border-radius: 0.5rem;
}

.homepage {
  display: grid;
  place-items: center;
}

.banner {
  text-align: center;
  justify-content: center;
  display: grid;
  padding: 6rem;
  padding-top: 1rem;
  width: 100%;
  background: var(--bg) !important;
}

.bannerImg {
  width: 70%;
  height: auto;
  margin: auto;
  object-fit: cover;
  border-radius: 0.7rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.bannerContent {
  padding: 1rem;
  display: grid;
  justify-content: center;
}

.bannerContent h1 {
  color: white;
  font-size: 4rem;
}

.bannerContent p {
  font-size: 1.3rem;
  font-weight: 500;
  color: #a3b0cb;
}

.bannerDesc {
  display: grid;
  justify-content: center;
  gap: 1rem;
}

.banner_btn {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  box-shadow: var(--shadow);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: all 250ms ease-in-out;
  color: white;
  background-color: #1a2332;
  border-radius: 2rem;
  padding: 1rem 1.5rem;
  border: none;
  font-size: 1rem;
}

.bannerBtns {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.card, .banner_btn:hover {
  color: white;
  background-color: #2e3440;
  cursor: pointer;
}

@media screen and (max-width: 1456px) {
   
aside {
  margin: 0rem;
}

  .docPage_node_modules-\@docusaurus-theme-classic-lib-next-theme-DocPage-styles-module,
  .navbar__inner {
    padding: 0;
  }

  .banner {
    padding: 0.5rem 2rem 3rem 2rem;
  }

  .bannerContent h1 {
    font-size: 3rem;
  }

  .homePage_desc {
    padding: 2rem 4rem 0 4rem;
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 1000px) {
  .bannerContent h1 {
    font-size: 2rem;
  }

  .homePage_desc {
    padding: 1.5rem 1.5rem 0 1.5rem;
    font-size: 1.2rem;
  }
}
