@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

:root {
  font-family: "Inter", sans-serif;
  --doc-sidebar-width: 250px !important;
  --ifm-code-font-size: 100%;
}

:root .navbar__title {
  margin-left: 4px;
  font-size: 1.75rem;
}

h1,
h2,
h3,
h4 {
  font-family: "Inter", sans-serif;
}

.hero__title {
  color: white;
}

.prism-code {
  background-color: var(--prismBg) !important;
}

/* navbar community link icons */
.navbar__item.navbar__link[href*="github"] {
  padding: 0 1.3rem 0 0;
  display: flex;
  font-size: 0;
}

.navbar__item.navbar__link[href*="github"]:before {
  content: "";
  width: 1.5rem;
  height: 1.5rem;
  background-image: var(--github);
  background-repeat: no-repeat;
}

/* ===== Scrollbar ==== */

* {
  scrollbar-width: .5rem;
  scrollbar-color: #9fef00 var(--bg);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: .5rem;
}

*::-webkit-scrollbar-track {
  background: var(--border);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--ifm-color-primary);
  border-radius: 5px;
}

/* misc */
img {
  border-radius: .5rem;
}
