[data-theme="dark"] {
  --fg: white;
  --bg: #111927;
  --border: #282c34;
  --prismBg: #1a2332;
  --shadow: none;
  --navbar_shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

  --ifm-color-primary: #9fef00;
}

